<header>
  <div class="header-logo">
    <%= link_to("TweetApp", "/") %>
  </div>
  <ul class="header-menus">
    <li>
      <%= link_to("About", "/about") %>
    </li>
    <li>
      <%= link_to("Tweet list", "/posts/index") %>
    </li>
    <li>
      <%= link_to("New Tweet", "/posts/new") %>
    </li>
    <li>
      <%= link_to("User List", "/users/index") %>
    </li>
    <li>
      <%= link_to("Sign Up", "/signup") %>
    </li>

  </ul>
</header>